.loginWrapper {
    max-width: 1200px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.login {
    width: 500px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navTab {
    height: 50px;
    width: 100%;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    display: grid;
    margin-top: 24px;
    position: relative;
}

.navTab a.active {
    background-color: rgba(255,255,255);
}
.navTab a {
    height: 50px;
    color: rgba(33, 38, 171);
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    background-color: rgba(243, 243, 243);
    border: 1px solid rgba(243, 243, 243);
    border-bottom-width: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.loginWrapper .body {
    padding: 2.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid rgba(243, 243, 243);
    display: flex;
    border-width: 1px;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
}

.loginWrapper form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.loginWrapper form>div {
    margin-bottom: 10px;
}

.actionText {
    text-decoration: underline;
    color: rgba(0, 0, 0);
    line-height: 20px;
    font-size: 14px;
    align-items: self-end;
    line-height: 20px;
    text-align: left;
    flex-direction: column;
    cursor: pointer;
    width: auto;
    display: flex;
    margin-bottom: 4px;
}

.formCol{
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
}