.formInputWrapper {
    position: relative;
    width: 100%;
}

.formItemWrapper {
    position: relative;
}

.formInputWrapper * {
    box-sizing: border-box !important;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    letter-spacing: normal;
    font-weight: normal;
    line-height: unset;
}

.formInputWrapper label {
    color: #8A8B94;
    position: absolute;
    top: 0;
    left: 17px;
    width: 100%;
    z-index: 1;
    user-select: none;
    pointer-events: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: transform 0.1s;
    transform: translateY(18px);
    font-size: 0.85em;
    line-height: 22px;
}

.formInputWrapper input {
    border: 1px solid #E5E4E9;
    background-color: #FFFFFF;
    color: #272727;
    background-clip: padding-box;
    border-radius: 8px;
    display: block;
    width: 100%;
    height: 56px;
    padding: 8px 16px;
    outline: none;
    transition: padding 0.1s, border-color 0.5s, box-shadow 0.5s;
    box-shadow: 0 0 0 1px transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.formInputWrapper select {
    border: 1px solid #E5E4E9;
    background-color: #FFFFFF;
    color: #272727;
    background-clip: padding-box;
    border-radius: 8px;
    display: block;
    width: 100%;
    height: 56px;
    padding: 8px 16px;
    outline: none;
    transition: padding 0.1s, border-color 0.5s, box-shadow 0.5s;
    box-shadow: 0 0 0 1px transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.formInputWrapper select.active+label {
    transform: translateY(8px);
    font-size: 0.7em;
}

.formInputWrapper select.active {
    padding-top: 1.2em;
    padding-bottom: 0.2em;
}

.formInputWrapper select:focus-within {
    border: 2px solid #2126ab;
}

.formInputWrapper input.active+label {
    transform: translateY(8px);
    font-size: 0.7em;
}

.formInputWrapper input.active {
    padding-top: 1.2em;
    padding-bottom: 0.2em;
}

.formInputWrapper input:focus-within {
    border: 2px solid #2126ab;
}


.formButton {
    flex: 0 0 auto;
    height: 100%;
    min-height: 44px;
    width: 100%;
    color: #FFFFFF;
    background-color: #2126ab;
    border-radius: 8px;
    font-weight: 600;
    text-align: center;
    position: relative;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.formButton.white {
    border: 1px solid #E5E4E9;
    background-color: #ffffff;
    color: #272727;
}

.arrowDown {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    top: 0;
    right: 10px;
}


.selectFlag {
    position: absolute;
    top: 26px;
    left: 16px;
}

.flagContainer {
    position: relative;
    width: 35px;
    height: 24px;
    flex: 0 0 35px;
}

.selectFlag .flag {
    position: relative;
    width: 35px;
    height: 24px;
    display: flex;
    align-items: center;
}

.selectFlag .flag img {
    width: 24px;
    flex: 0 0 24px;
    max-width: 100%;
    height: auto;
    min-height: 16px;
}

.selectFlag .flag .flagArrow {
    display: block;
    content: "";
    width: 0.3em;
    height: 0.3em;
    margin-left: 0.35em;
    margin-top: -0.2em;
    border-style: solid;
    border-color: inherit;
    border-top-width: 0;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-right-width: 1px;
    transform: rotate(45deg);
    opacity: 0.45;
    flex: 0 0 0.3em;
}

.flagContainer select {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0;
    opacity: 0;
    border: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.formInputWrapper input[type="tel"] {
    padding: 8px 16px;
}

.formInputWrapper input[type="tel"] {
    transition: unset;
}
.formInputWrapper input[type="tel"] {
    padding-left: 64px !important;
    padding-top: 24px !important;
}
.formInputWrapper input[type="tel"]+label {
    transform: translateY(8px);
    font-size: 0.7em;
}

.formInputWrapper input[type="tel"]:disabled {
    color: #8A8B94 !important;
    background-color: #F7F7F9 !important;
}

.formInputWrapper input[type="tel"]::placeholder {
    color: #8A8B94 !important;
    font-size: 14px !important;
}