.header {
    display: flex;
    justify-content: center;
    height: 80px;
    width: 100%;
    z-index: 9999;
    position: fixed;
    background: white;
}

.header * {
    font-family: Futura PT;
    font-weight: 500;
    font-size: 15px;
    box-sizing: border-box !important;
}

.headerWrapper {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    position: fixed;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 15px 10px;
    height: auto;
    width: 100%;
    z-index: 9999;
    max-width: 1250px;
}

.cartCountWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cartCount {
    color: rgba(255, 255, 255);
    font-size: 12px;
    line-height: 16px;
    background-color: rgba(237, 39, 39);
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    display: flex;
    right: -7px;
    top: -10px;
    position: absolute;
    z-index: 5;
}

.userInteraction .title {
    margin-right: calc(0.5rem * 0);
    margin-left: calc(0.5rem * 1);
    font-weight: 500;
    font-size: 15px;
}

.logo {
    display: flex;
    color: inherit;
    width: 300px;
    height: 50px;
}

.logo span {
    max-width: 150px;
    width: calc(100% - 24px);
    height: 100%;
    position: relative;
    user-select: none;
    cursor: pointer;
}

.logo img {
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: auto;
    height: 40px;
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 50px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid rgba(145, 145, 145);
    background-color: white;
}

.searchBar input {
    height: 100%;
    box-sizing: border-box;
    width: 315px;
}

.searchButton {
    display: flex;
    box-sizing: border-box;
    height: 100%;
    align-items: center;
    width: 80px;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: rgba(145, 145, 145);
}

.userInteraction {
    display: flex;
    align-items: center;
    gap: 20px;
}

.accountWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-weight: 500;
    color: rgba(145, 145, 145);
    width: 190px;
    min-height: 45px;
    height: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid rgba(145, 145, 145);
    gap: 5px;
}

.accountWrapper:hover .hiddenMenu {
    display: flex;
}

.account {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 100%;
}

.hiddenMenu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: rgba(0, 0, 0);
    font-size: 14px;
    line-height: 20px;
    background-color: rgba(255, 255, 255);
    border: 1px solid rgba(145, 145, 145);
    width: 100%;
    top: 100%;
    height: auto;
    z-index: 99;
    position: absolute;
}

.accountWrapper:hover {
    color: rgba(33, 38, 171);
}

.hiddenMenu a:hover {
    color: rgba(33, 38, 171);
}

.hiddenMenu a {
    color: rgba(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    line-height: 32px;
}

.accountWrapper span {
    display: flex;
    position: absolute;
    right: 10px;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(145, 145, 145);
    color: white;
    font-weight: 500;
    width: 190px;
    height: 45px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid rgba(145, 145, 145);
}

.cart:hover {
    color: white;
}

.cartCount {}