.header{
    display: flex;
    justify-content: center;
    height: 80px;
}
.wrapper{
    display: flex;
    position: fixed;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 15px 10px;
    height: auto;
    width: 100%;
    z-index: 9999;
    max-width: 1250px;
}
.logo{
    position: relative;
    user-select: none;
    display: flex;
    align-items: end;
    width: 250px;
    height: 45px;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: -0.75px;
    color: #29398e;
    justify-content: center;
}
.logo img{
    width: 45px;
    user-select: none;
    position: absolute;
    left: 10px;
    bottom: 4px;
}

.searchBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 50px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid grey;
    background-color: white;
}

.searchBar input{
    height: 100%;
    box-sizing: border-box;
    width: 315px;
}
.searchButton{
    display: flex;
    box-sizing: border-box;
    height: 100%;
    align-items: center;
    width: 80px;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: grey;
}
.userInteraction{
    display: flex;
    align-items: center;
    gap: 20px;
}
.account{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-weight: 500;
    color: grey;
    width: 190px;
    height: 45px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid grey;
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: white;
    font-weight: 500;
    width: 190px;
    height: 45px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid grey;
}
.cart:hover{
    color: white;
}

.cartCount{
    display: none;
}