.navbar{
    justify-content: center;
    align-items: center;
    height: 35px;
    max-height: 70px;
}
.wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    background-color: black;
    color: white;
    font-weight: 500;
    width: 100%;
    height: auto;
    background-color: black;
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 80px;
}

.wrapper .item:nth-child(n+8){
    background-color: #c90406ff;
}
.wrapper .item:nth-child(n+9){
    background-color: #ff6600ff;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    font-size: 14px;
    text-decoration: none;
    height: 35px;
    color: white;
    text-wrap: nowrap;
    user-select: none;
    transition-duration: .3s;
}

.item:hover{
    background-color: white !important;
    color: black;
    transition-duration: .3s;
}